*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 30vw;
    height: 90vh;
    margin: auto;
    position: relative;
    perspective: 100px;
}
/* .front and .back */
.front, .back {
    position: absolute;                             /* makes the child more dependant on the parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;    
}
/* Profile */
.front {
    z-index: 20;                                /* the higher the number the higher the priority, to bring something to the front */
}
.profile {
    max-width: 100%;                            /* setting the limbs, maximum size of the image, (makes image responsive?/ media query) */
    border-radius: 1em;
    object-fit: cover;                          /* keeps quality of image while sizing it up */
}
.back {
    background-color: darkcyan;
    display: flex;                              
    flex-flow: column wrap;                     /* shortcut to wrap */
    justify-content: center;
    align-items: center;
}
.back h2 {
    font-size: 3em;
    text-shadow: .2vw .2vw .3vw white;       /*  use inset to create a shadow within the element */   
}
.back p {
    font-size: 2em;
    background-color: bisque;
    margin: 2em 0;
}
.container:hover .front {
    transform: rotateY(180deg);
}