a:link{
    background-color: yellow;
}

/* form */
form{
    border: 2px solid;
    padding: 15px;
    border-width: 10;
    background-color: rgb(207, 207, 207);
    width: 30%;
    margin: auto;
    
}

input:focus{
    background-color:pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    font-weight: 200;
}